*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 133px 30px 0px ;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 711px;
  gap: 16px;
}

.result__video-container {
  position: relative;
  align-self: center;
  width: 100%;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label-text {
  color: #FFF;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  margin-bottom: -2px;
}

.search-form__textfield {
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 225px;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield:focus-visible {
 outline: none;
}

.search-form__checkbox-list {
  display: grid;
  grid-template-columns: repeat(3, 62px);
  gap: 15px;
  vertical-align: middle;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 17px;
  height: 17px;
  outline: 1px solid #fff;
  outline-offset: 1px ;
  background-color: transparent;
  cursor: pointer;
}

input[type="checkbox"]:checked + span {
  vertical-align: middle;
  width: 17px;
  height: 17px;
  outline: 1px solid #fff;
  outline-offset: 2px;
  background-color: #fff;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.button {
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active { 
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.content__list {
  position: relative;
}

.content__details{
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  color: #FFF;
  font-family: 'Oswald';
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  cursor: default;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 298px;
  overflow-x: hidden;
  overflow-y: scroll;
  gap: 30px;
}

.content__list-item {
  width: 394px;
  height: 103px;
  padding: 2px;
}

.content__card-link {
  display: inline-block;
  width: 394px;
  height: 103px;
  text-decoration: none;
  color: #FFF;
}

.content__card-link:hover {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.content__video-card-title {
  min-width: 200px;
  color: #FFF;
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.content__video-card-descriptio { 
  color: #FFF;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
} 

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  margin: 1px;
  width: 399px;
  height: 34px;
}