*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  inline-size: 711px;
  gap: 16px;
}

.result__video-container {
  position: relative;
  align-self: center;
  inline-size: 100%;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: end;
  gap: 40px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.search-form__label-text {
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-block-end: -2px;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  inline-size: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  margin-block-end: 6px;
  gap: 16px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  outline: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  left: 1px;
  inline-size: 16px;
  block-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.button {
  block-size: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  appearance: none;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  color: #fff;
  font-family: "Oswald", "Raleway", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  cursor: default;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  block-size: 298px;
  overflow-y: auto;
  gap: 30px;
}

.content__list-item {
  max-width: 399px;
  padding: 2px;
}

.content__card-link {
  display: inline-block;
  max-width: 399px;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  min-width: 200px;
  color: #fff;
  font-family: "Oswald", "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.90;
}

.content__video-card-thumbnail {
  inline-size: 100%;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  margin: 3px;
  inline-size: 399px;
}
